.container {
    margin: auto;
    margin-top: 1rem;
    max-width: 70rem;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu a {
    width: 22rem;
    height: 11rem;
    margin: 1.5rem 2rem;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    color: #444;
    justify-content: space-around;
}

.menu img {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

.menu a img,
.menu a h2 {
    transition: transform 0.3s linear;
}

.menu a:hover img,
.menu a:hover h2 {
    transform: translateY(-7px);
}

.menu h2 {
    font-size: 2.5rem;
    margin-right: 2rem;
}