.container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 35rem;
    margin-right: 1rem;
}

.header {
    margin-bottom: 1rem;
}

.header>div {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.header strong {
    display: inline-block;
    width: 20%;
}

.payment,
.btn_home {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.payment a,
.btn_home a {
    background-color: #ff4d4d;
    color: white;
    padding: 0.8rem 5rem;
    border-radius: 1rem;
}

.payment a:hover,
.btn_home a:hover {
    opacity: 0.9;
}

.container_select select {
    width: 10rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.1rem;
    font-weight: 100;
}